html {
    scroll-behavior: smooth;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

h1 {
    color: rgb(13, 82, 157);
}

p {
    font-size: 24px;
}

a {
    text-decoration: none;
    color: gray;
}

a h3 {
    color: rgb(13, 82, 157);
}

a p {
    font-size: 1rem;
}

.section {
    padding: 2rem;
    text-align: center;
}

#nav-bar {
    display: flex;
    height: 4rem;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
    padding: 0 20%;
}

#nav-bar a {
    text-decoration: none;
    font-size: large;
    color: gray;
    font-weight: 600;
    transition: all 0.3s ease;
}

@media only screen and (max-width: 900px) {
    #nav-bar {
        padding: 0 30% 0 10%;
    }
}

@media screen and (max-width: 600px) {
    #nav-bar {
        padding: 0 40% 0 5%;
    }

    #nav-bar a {
        font-size: 16px;
    }
}

@media screen and (max-width: 450px) {
    #nav-bar {
        padding: 0 45% 0 5%;
    }

    #nav-bar a {
        font-size: 12px;
    }
}

@media screen and (max-width: 425px) {
    #nav-bar {
        padding: 0 47% 0 2%;
    }
}

#nav-bar a:hover {
    color: rgb(13, 82, 157);
    transform: translateY(-1px);
}

#header {
    padding: 7rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-image: linear-gradient(rgba(65, 116, 187, 0.068), white);
    font-size: 24px;
}

#header .info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header .info .names span {
    color: rgb(13, 82, 157);
    font-size: 48px;
    font-weight: bold;
}

#header .info .names #break {
    display: none;
}

#congolese-name {
    margin: auto;
}

#chinese-name {
    margin: 20px;
    font-family: 'Noto Serif SC', serif;
}

#header .info p {
    color: gray;
    font-weight: 100;
    padding: 20px 0 30px;
}

@media screen and (max-width: 730px) {
    #header .info .names #break {
        display: block;
    }
}

@media screen and (max-width: 675px) {
    #header .info .titles {
        width: 400px;
    }

    #header .info p {
        font-size: 16px;
    }
}

#header img {
    width: 300px;
    height: auto;
    border-radius: 30px;
}

#about {
    max-width: 1200px;
    margin: 3rem auto 0;
    display: flex;
    flex-direction: column;
}

#about p {
    font-size: 20px;
}

#skills {
    margin: 0 auto 0;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
}

#skills p {
    font-size: 20px;
}

#skills .skills-list {
    padding-left: 10%;
    text-align: left;
}

#portfolio h1 {
    margin-bottom: 5rem;
}

#project-list {
    justify-items: center;
    padding-inline: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 20px;
}


.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 0.1px solid rgba(0, 0, 0, 0.10);
    padding: 20px;
    margin: 10px;
    width: 320px;
    min-height: 320px;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.10);
    transition: all 0.2s;
}

.card:hover {
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.01);
}


.card-description {
    line-height: 100px;
    display: flex;
    justify-content: center;
    height: 100%;
}

#project-list h4 {
    color: gray;
}


#contact {
    margin-top: 3rem;
    background-image: linear-gradient(rgb(13, 82, 157, 0.85), rgb(13, 82, 157, 0.9), rgb(13, 82, 157));
    color: rgb(255, 255, 255, 0.95);
}

#contact h1 {
    padding: 2rem;
    font-size: 20px;
    color: rgb(255, 255, 255, 0.95);
}

#contact p {
    margin: 3rem;
    font-weight: bold;
    font-size: 15px;
}

#social-media-icons a {
    margin: 0 1rem;
}

#scrollToTopBtn {
    border: none;
    color: white;
    cursor: pointer;
}

#google_translate_element {
    position: absolute;
    right: 15px;
}

#google_translate_element .goog-te-menu-value {
    font-size: 12px;
}

/* Animation classes */
.js-scroll {
    opacity: 0;
    transition: opacity 2s;
}

.js-scroll.scrolled {
    opacity: 1;
}